* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    max-width: 100vw;
}

.btn {
    background: none;
    border: none;
}

header {
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
}

.logo {
    display: flex;
    gap: 30px;
    align-items: center;
}

.About {
    padding: 20px;
}

.About-about {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c2c1c1;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(114, 114, 114, 0.2), 0 6px 20px 0 rgba(128, 128, 128, 0.19);

}

.About-about button {
    padding: 20px 30px;
    margin: 10px 0px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 50px;


}

.About-about button:hover {
    border: 1px solid #000;
    background-color: #ffffff;
    color: #000;
}

.About-about h5 {
    margin: 10px 0px;
}
.portfolio {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px 20px;
}

.all-portBpxes {
    display: flex;
    align-items: center;
    gap: 20px;
}