*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px
}
.box{
    width: 390px;
    height: 700px;
    padding-top: 40px;
    border-radius: 10px;
    border: 2px solid #b4b4b4;
}
.box p{
    /* text-align: center; */
    width: 390px;
    font-size: 90px;
    /* height: 400px; */
    transform: rotate(-90deg);
    font-weight: 100;
}
